
$ancho: 100%;
/**/
$colores: (
    color-titulos: #ebd976,
    color-textos: #ffffffb0,
    color-subtitulos: #BC2121,
    color-discord:#3e60f5,
    color-fb-tw:#1877f2,
    color-amarilloclaro:#fdf291
);
